
@font-face {
  font-family: 'Nunito-SemiBold';
  src: url('./Nunito/Nunito-SemiBold.ttf');
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url('./Nunito/Nunito-Regular.ttf');
}

// @font-face {
//   font-family: 'Gotham-Light';
//   src: url('./Gotham-Light.otf');
// }

// @font-face {
//   font-family: 'Gotham-Medium';
//   src: url('./Gotham-Medium.otf');
// }