.app-main-container {
  padding: 24px;
  .slides-chat-container {
    width: 30vw;
    margin-left: 12px;
    margin-right: 12px;
    .chatContainer {
      width: 100%;
      margin: 0;
    }
  }
  &.startSession {
    .main-card {
      position: relative;
      border: 1px solid;
      border-radius: 13.1964px;
      justify-content: flex-end;
      .rightContainer {
        width: 250px;
        .teacherView {
          position: absolute;
          width: 100%;
          left: 0;
        }
      }
    }
  }
}