body {
  margin: 0;
  box-sizing: border-box; }

.app-main-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 64px);
  padding-top: 24px;
  padding-bottom: 8px;
  box-sizing: border-box; }
  .app-main-container .chatContainer {
    margin-left: 12px;
    margin-right: 12px; }
  .app-main-container .right-container {
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column; }
    .app-main-container .right-container .class-container {
      display: flex;
      height: calc(100% - 64px); }
    .app-main-container .right-container .footer-card {
      display: flex; }

.app-main-container.startSession .right-container {
  flex-direction: row; }

.app-main-container.startSession .video-container, .app-main-container.startSession .remoteStreamItem {
  width: 200px;
  height: 200px; }

.app-main-container.startSession .class-container {
  width: 45vw;
  height: 100%; }
