.chatContainer {
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(91, 22, 170, 0.12), inset 1px 0px 3px rgba(255, 255, 255, 0.5);
  border-radius: 24px;
  display: flex;
  width: 330px;
  max-width: 100%;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 8px 8px;
  height: 100%; }

.chatMessageView {
  display: flex;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  flex-direction: column; }
